/*
d083cf > ea9a06
 */
*/
.scrollToTop{background-color:#ea9a06; color:#fff}
 */
.scrollToTop:hover, .scrollToTop:focus{background-color:#fff; color:#ea9a06; border-color:1px solid #ea9a06}
.logo > span{color:#ea9a06}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{background-color:#ea9a06}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{background-color:#ea9a06}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:#ea9a06}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{background-color:#ea9a06}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:#ea9a06}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{background-color:#ea9a06}
.latest_newsarea span{background:none repeat scroll 0 0 #ea9a06}
.latest_post > h2 span{background:none repeat scroll 0 0 #ea9a06}
#prev-button{color:#ea9a06}
#next-button{color:#ea9a06}
.single_post_content > h2 span{background:none repeat scroll 0 0 #ea9a06}
.single_sidebar > h2 span{ background:none repeat scroll 0 0 #ea9a06}
.bsbig_fig figcaption a:hover{color:#ea9a06}
.spost_nav .media-body > a:hover{color:#ea9a06}
.cat-item a:hover{background-color:#ea9a06}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus{background-color:#ea9a06}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background-color:#ea9a06}
.single_sidebar > ul > li a:hover{color:#ea9a06}
.footer_widget > h2:hover{color:#ea9a06}
.tag_nav li a:hover{color:#ea9a06; border-color:#ea9a06}
.copyright a:hover{color:#ea9a06}
.post_commentbox a:hover, .post_commentbox span:hover{color:#ea9a06}
.breadcrumb{border-left:10px solid #ea9a06}
.single_page_content ul li:before{background-color:#ea9a06}
.single_page_content h2, .single_page_content h3, .single_page_content h4, .single_page_content h5, .single_page_content h6{color:#ea9a06}
.nav-slit .icon-wrap{background-color:#ea9a06}
.nav-slit h3{background:#ea9a06}
.catgArchive{background-color:#151515}
.error_page > h3{color:#ea9a06}
.error_page > span{background:none repeat scroll 0 0 #ea9a06}
.error_page > a{background-color:#ea9a06}
.contact_area > h2{background-color:#ea9a06}
.contact_form input[type="submit"]{background-color:#ea9a06}
.contact_form input[type="submit"]:hover{background-color:#fff; color:#ea9a06}
.related_post > h2 i{color:#ea9a06}
.form-control:focus{border-color:#ea9a06;  box-shadow:0 0px 1px #ea9a06 inset,0 0 5px #ea9a06}